:root {
  --nav_bk: #8a2be2;
  --btn_bk: #5eea86;
  --btn-shadow: #4f5952;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  overflow: hidden;
}
.nav {
  background-color: var(--nav_bk);
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
}
.nav a {
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 10px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
.nav #learn_btn {
  left: 495px;
}
.nav #home_btn {
  left: 821px;
}
.nav #user_btn {
  right: 0;
  position: absolute;
}
.level1_beginner_img img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.level1_beginner-task .task {
  position: relative;
  left: 10em;
  top: 7em;
  margin-bottom: 3em;
}
.answer {
  position: relative;
  left: 11em;
  display: flex;
  align-items: center;
  top: 7em;
  margin-bottom: 1em;
}
.level1_beginner-task input {
  margin: 1em;
  border: 2px solid black;
  border-radius: 0;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  left: -3em;
  height: 40px;
}
.level1_beginner-task .btn {
  text-decoration: none;
  position: relative;
  left: 13em;
  top: 10em;
  background-color: var(--nav_bk);
  color: #fff;
  padding: 0.5em;
  margin: 0.2em;
  box-shadow: 10px 5px 5px var(--btn-shadow);
}
