:root {
  --nav_bk: #8a2be2;
  --aside_bk: #bbb;
  --nav_font-color: #fff;
  --border-bk: #ccc;
  --aside-bk-color: #f1f1f1;
  --font-color-aside: #000;
  --btn-hover: #ddd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.nav {
  color: white;
  position: relative;
  background-color: blueviolet;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  float: left;
  font-size: 3vh;
}
#home_btn {
  color: white;
  margin-left: 5vw;
  margin-top: 0;
}
.username {
  position: relative;
  margin-left: 85vw;
  margin-top: -1em;
  cursor: pointer;
}
.info {
  width: 6em;
  height: 5.3em;
  font-size: 25px;
  position: absolute;
  top: 7%;
  left: 87%;
  background-color: #f0ddf9;
  color: #fff;
}
a {
  text-decoration: none;
}
.disappear {
  display: none;
}
.choose__topic--section {
  position: absolute;
  top: 7%;
  float: left;
  border: 1px solid var(--border-bk);
  background-color: var(--aside-bk-color);
  width: 15%;
  height: 100%;
  font-size: 20px;
}
.choose__topic--section button {
  display: block;
  background-color: inherit;
  color: var(--font-color-aside);
  padding: 1em 0.75em;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
}
.choose__topic--section button:hover {
  background-color: var(--btn-hover);
}
.choose__topic--section button.active {
  background-color: var(--border-bk);
}
.documentation {
  float: left;
  padding: 0 12px;
  width: 85%;
  border-left: none;
  height: 100%;
  position: absolute;
  top: 7.5%;
  left: 15%;
  display: none;
}
.documentation h3 {
  margin-bottom: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 30px;
}

.documentation .final_paragraph {
  text-align: center;
}
.documentation p {
  font-size: 20px;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Montserrat", sans-serif;
  overflow: visible;
}
.documentation span {
  color: var(--nav_bk);
  font-weight: 700;
  font-style: italic;
  border: none;
}
.documentation a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 20px;
  position: absolute;
  border-radius: 10%;
}
.documentation a:hover {
  background-color: #ddd;
  color: black;
}
#nivel--btn {
  position: absolute;
  top: 45%;
  left: 66%;
  border: 1px solid #ccc;
}
#nivel--btn:active {
  transform: scale(0.98);
}
/* responsive design */
@media (max-width: 1390px) {
  #nivel--btn {
    top: 48%;
    left: 68%;
  }
}
@media (max-width: 1250px) {
  #nivel--btn {
    left: 70%;
  }
}
@media (max-width: 1130px) {
  #nivel--btn {
    top: 52%;
  }
}
@media (max-width: 1109px) {
  #nivel--btn {
    top: 55%;
    left: 72%;
  }
}
@media (max-width: 1015px) {
  #nivel--btn {
    left: 76%;
  }
}
@media (max-width: 885px) {
  .choose__topic--section button {
    font-size: 16px;
  }
  .documentation h3 {
    font-size: 25px;
  }
  .documentation p {
    font-size: 16px;
  }
  .nav ul li a {
    font-size: 20px;
  }
  #nivel--btn {
    font-size: 16px;
    top: 45.5%;
  }
}
@media (max-width: 696px) {
  #nivel--btn {
    top: 48%;
    width: 7em;
  }
  .documentation .final_paragraph {
    margin-left: -4em;
  }
}
@media (max-width: 670px) {
  .choose__topic--section button {
    margin-top: 1.5em;
    padding-left: 0;
  }
}
@media (max-width: 642px) {
  #nivel--btn {
    top: 50%;
  }
}
@media (max-width: 595px) {
  .choose__topic--section button {
    font-size: 14px;
  }
  #nivel--btn {
    top: 54%;
  }
}
@media (max-width: 519px) {
  #nivel--btn {
    top: 67%;
    left: 30%;
  }
}
@media (max-width: 508px) {
  .documentation .final_paragraph {
    margin-left: -3em;
  }
  #nivel--btn {
    top: 70%;
  }
}
@media (max-width: 466px) {
  .nav ul li a {
    font-size: 20px;
  }
  #nivel--btn {
    top: 55%;
  }
  .documentation p {
    font-size: 14px;
  }
  .documentation h3 {
    font-size: 16px;
  }
  .documentation .final_paragraph {
    margin-left: -1em;
  }
}
@media (max-width: 380px) {
  #nivel--btn {
    top: 63%;
  }
}
@media (max-width: 330px) {
  #nivel--btn {
    top: 70%;
    left: 25%;
  }
}
