:root {
  --nav_bk: #8a2be2;
  --aside_bk: #bbb;
  --nav_font-color: #fff;
  --border-bk: #ccc;
  --aside-bk-color: #f1f1f1;
  --font-color-aside: #000;
  --btn-hover: #ddd;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav {
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: var(--nav_bk);
  display: flex;
  font-size: 40px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav ul li a {
  color: var(--nav_font-color);
  top: 10px;
  position: relative;
}
.nav #home_btn {
  position: relative;
  left: 400px;
}
.nav #login_btn {
  position: absolute;
  right: 20%;
}
.nav #user_btn {
  position: absolute;
  right: 0;
}
.content {
  position: absolute;
  top: 7%;
  float: left;
  border: 1px solid var(--border-bk);
  background-color: var(--aside-bk-color);
  width: 15%;
  height: 100%;
}
.content button {
  display: block;
  background-color: inherit;
  color: var(--font-color-aside);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 30px;
}
.content button:hover {
  background-color: var(--btn-hover);
}
.content button.active {
  background-color: var(--border-bk);
}
#title_aside {
  font-size: 30px;
}
.documentation {
  float: left;
  padding: 0 12px;
  width: 85%;
  border-left: none;
  height: 100%;
  position: absolute;
  top: 7.5%;
  left: 15%;
  display: none;
}
.documentation h3,
.documentation h4 {
  margin-bottom: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 35px;
}
.documentation h4 {
  font-size: 30px;
}
.documentation .final_paragraph {
  text-align: center;
}
.documentation p {
  font-size: 30px;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Montserrat", sans-serif;
  overflow: visible;
}
.documentation span {
  color: var(--nav_bk);
  font-weight: 700;
  font-style: italic;
  border: none;
}
@media (max-width: 776px) {
  .content {
    float: left;
    border: 1px solid var(--border-bk);
    background-color: var(--aside-bk-color);
    width: 15%;
    height: 100%;
  }

  .content button {
    display: block;
    background-color: inherit;
    color: var(--font-color-aside);
    padding: 12px 6px;
    width: 7%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
  }

  .content button:hover {
    background-color: var(--btn-hover);
  }

  .content button.active {
    background-color: var(--border-bk);
  }

  .documentation {
    float: left;
    border: 1px solid var(--border-bk);
    width: 75%;
    border-left: none;
    display: none;
  }
}
