:root {
  --buttons_login_page: #8a2be2;
  --border_login_page: #707070;
}
* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.nav {
  background-color: var(--buttons_login_page);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
}
.nav ul {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 15%;
  left: 40em;
}
.login--page {
  display: flex;
  flex-direction: column;
}
#background_container {
  width: 30em;
  height: 20em;
  position: relative;
  top: 4em;
  left: 2em;
}
#background_container--img {
  width: 32em;
  height: 25em;
  position: relative;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}
.form {
  position: absolute;
  left: 48em;
  top: 7em;
}
.disappear {
  display: none;
}
.input {
  display: block;
  margin-top: 2em;
  height: 2em;
  width: 18em;
  border: 1px solid var(--border_login_page);
  border-radius: 5px;
  margin-bottom: 1em;
  cursor: pointer;
  font-size: 15px;
}
.input:focus {
  outline: 0;
}

.btn {
  background-color: var(--buttons_login_page);
  border-radius: 30px;
  position: absolute;
  color: #fff;
  width: 90%;
  height: 2em;
  margin-top: 1.5em;
  text-align: center;
  text-decoration: none;
}
.btn:active {
  transform: scale(0.98);
}
.form p {
  position: absolute;
  top: 17em;
}
.form .alternatives_login {
  width: 8em;
  height: 6em;
  display: inline-block;
  margin-left: 7em;
  position: relative;
  top: 5em;
  cursor: pointer;
  background-color: #8a2be2;
}
.form #github_alt {
  width: 5em;
  height: 4em;
}
#register_btn {
  position: absolute;
  top: 23em;
  right: 10px;
}

.register_form {
  position: absolute;
  left: 65em;
  top: 5em;
  height: 40%;
  width: 20%;
  display: flex;
  font-size: 15px;
}
.register_form .input {
  padding: 2px;
  height: 1.5em;
  width: 14em;
  border: 1px solid var(--border_login_page);
  border-radius: 5px;
}
.form .register--paragraph {
  position: absolute;
  top: 21em;
}
#github__login--form {
  position: absolute;
  left: 48em;
  top: 10em;
  width: 20%;
  height: 40%;
  font-size: 20px;
}
#additional--info {
  position: relative;
  font-size: 15px;
  top: 30%;
  left: 3%;
  width: 100%;
}
/* responsive design */
@media (max-width: 1310px) {
  #background_container--img {
    width: 25em;
    height: 20em;
  }
  .form {
    left: 45em;
    font-size: 15px;
  }
  .nav ul li a {
    left: 30em;
  }
  .form #github_alt {
    width: 4em;
    height: 3em;
  }
  .form p {
    top: 19em;
  }
  .form .register--paragraph {
    top: 23em;
  }
  #sign_btn {
    position: absolute;
    left: 0;
    width: 15em;
    margin-bottom: 5em;
  }
  #register_btn {
    top: 25em;
  }
  #github__login--form {
    left: 37em;
  }
  .register_form {
    left: 50em;
  }
  .input {
    width: 15em;
  }
}
@media (max-width: 980px) {
  #background_container--img {
    width: 20em;
    height: 20em;
  }
  .form {
    left: 35em;
  }
  .register_form {
    left: 40em;
  }
  #github__login--form {
    font-size: 15px;
    left: 33em;
  }
  #additional--info {
    font-size: 12px;
  }
  .nav ul li a {
    left: 20em;
  }
  #additional--info {
    width: 150%;
  }
}
@media (max-width: 850px) {
  #background_container--img {
    left: 8em;
  }
  .form,
  .register_form,
  #github__login--form {
    top: 38em;
    left: 18em;
  }
  #confirm_btn {
    margin-left: 3em;
  }
}
@media (max-width: 665px) {
  #background_container {
    width: 70%;
  }
  #background_container--img {
    left: 2em;
  }
  .nav ul li a {
    left: 15em;
  }
  .register_form,
  .form,
  #github__login--form {
    left: 10em;
  }
}
